*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
        
}


video{
    width: 100%;
}
h1{
    color: rgb(30, 23, 23);
}
.navbar-brand{
    background-color: black;
}
.navbar-nav .nav-link {
    color: aliceblue;
}

.container1{
    background-color: white;
    display: flex;
}

.container1 img{
    width: 300px;
    height: 300px;
    margin: 2% 4%;
}
.container1 .title{
    padding: 10% 12%;
}
.container2{
    background-color: rgb(182, 119, 119);
    display: flex;
}

.container2 img{
    width: 300px;
    height: 300px;
    margin: 2% 4%;
}
.container2 .title{
    padding: 10% 12%;
}
footer{
    background-color: aqua;
}
